* {
    padding: 0;
    margin: 0;
}

.home {

    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(home-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.welcome {
    border: solid 1px white;
    margin: 6rem;
    height: 50%;
    width: 50%;
    background-color: rgba(0,0,0, 0.5);
}

.title {
    text-align: center;
    font-size: 3rem;
}

.welcome-text {
  padding: 3rem 1rem;
  line-height: 2rem;
}

.color-white {
    color:white;
}

