<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boxes.css" class="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- <div class="bigbox b-red">
        <div class="medbox">
            <div class="smallbox b-blue"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
            <div class="smallbox b-red"></div>
        </div>
        <div class="medbox b-aqua">
            <div class="smallbox"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
        </div>
        <div class="medbox b-green">
            <div class="smallbox"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
        </div>
        <div class="medbox">
            <div class="smallbox b-blue"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
            <div class="smallbox"></div>
        </div>       
    </div> -->



    <div class="bigbox b-red">
        <div class="medbox ">
            <div class="smallbox b-red">
               <h1>Small 1</h1>       
               </div>
            <div class="smallbox b-red">
               <h1>Small 2</h1>       
               </div>
            <div class="smallbox b-red">
               <h1>Small 3</h1>
            </div>
            <div class="smallbox b-red">
               <h1>Small 4</h1>
            </div>
    
        </div>

        </div>
    </div>
        
    
    </div>
    
 
 
    
</body>
</html>